.highlighted {
    background-color: rgba(0, 81, 255, 0.24); /* Yellow background for highlighted text */
    border-radius: 3px; /* Rounded corners */
    padding: 2px; /* Padding around the highlighted text */
    cursor: pointer; /* Change cursor to pointer on hover */
    transition: background-color 0.3s ease;
}

.highlighted:hover {
    background-color: rgb(0, 81, 255); /* Lighter yellow background on hover */
}
#tooltip {
    position: absolute; /* Positioning the tooltip */
    background-color: white; /* White background */
    border: 1px solid black; /* Black border */
    padding: 10px; /* Padding inside the tooltip */
    z-index: 1000; /* Ensures it's on top of other elements */
    max-width: 300px; /* Maximum width of the tooltip */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Box shadow for a subtle elevation effect */
    font-size: 14px; /* Font size */
    line-height: 1.4; /* Line height for readability */
    text-align: left; /* Left-align text */
    display: none; /* Initially hidden */
}
